  *, 
  *::before, 
  *::after {
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
  }

  .content-box-component {
    box-sizing: content-box;
  }

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;	
    font-family: 'PT Sans', 'Arial', sans-serif;
    text-transform: uppercase;
    line-height: 21px;
    font-size: 14px;
    color: #333333;
    background-color: #ffffff;
    list-style: none;
}

a {
    text-decoration: none;	
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px); 
    clip: rect(1px, 1px, 1px, 1px);
    padding:0;
    border:0;
    height: 1px; 
    width: 1px; 
    overflow: hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;
    box-shadow:  0 0 30px rgba(0,0,0,0.2);
}

.container-index {
    text-align: center;	
}

.main-header-logo {
    position: absolute;
    top: -1px;
    left: 530px;
  }

.main-navigation {
    position: relative;
    min-height: 56px;
    padding: 0px;
    margin: 0px;
    text-align: center; 
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0px 15px 0px;
    margin: 0px;
    list-style: none;
    min-height: 56px;
    min-width: 1200px;
    text-align: center;
}

ul.site-navigation li {
    width: 240px;
}

ul.site-navigation li:nth-child(4n+1) {
    text-align: left;
    padding-left: 73px;
}

ul.site-navigation li:nth-child(4n+2) {
    margin-right:  auto;
    text-align: left;
    padding-left: 73px;
}

ul.site-navigation li:nth-child(4n+3) {
    text-align: right;
    padding-right: 73px;
    margin-left: 20px;
}

ul.site-navigation li:nth-child(4n) {
    text-align: right;
    padding-right: 73px;
}

ul.site-navigation li { 
    list-style: none;
    padding-top: 0px;
    padding-bottom: 0px; 
} 

.site-navigation a {
    color: #000000;
}

.site-navigation a:focus {
}

.site-navigation a:hover {
    transition: 0.2s; 
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.welcome {
	padding-top:76px;
	width: 1200px;
	height: 564px;
    background-image: url("../img/index/backgroundphoto.jpg");
    background-repeat: no-repeat;
    background-position: 0 -55px;
    margin-bottom: 5px;
}

.container-index h1 {
    color: #000000;
    background-color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.container-index h2 {
    margin: 0;
    padding-left: 380px;
    padding-right: 380px;
    padding-bottom: 10px;
    line-height: 26px;
}

.reasons {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 55px;
}

.reasons li {
	list-style: none;
}

.modal-search {
    position: relative;
	line-height: 24px;
}

.modal-search span {
    color: #000000;
    background-color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}

.modal-search p {
    margin-top: 20px;
    margin-bottom: 50px;
}

button.modal-search {
	border:0px;
	width: 570px;
	height: 86px;
	background-color: #79665a;
	color: rgba(255, 255, 255, 1);
	font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

button.modal-search:hover {
	background-color: #604e43;
}

button.modal-search:active {    
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.modal {
    padding: 55px;
    position: absolute;
    left: 315px;
    width: 570px;
    height: 395px;
    background-color: #ffffff;
}

/*cтилизация плейсхолдера*/
input::-webkit-input-placeholder {  
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

input:-moz-placeholder {    
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

input::-moz-placeholder {    
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

input:-ms-input-placeholder {     
    line-height: 26px;
    font-weight: bold;
    color: #000000; 
}
/*-------------------*/

.date-picker input[type="text"] {
    box-sizing: border-box;
    width: 345px;
    height: 38px;
    margin-bottom: 30px; 
    color: #000000;
    font: inherit;
}

.number-o-guests-b input[type="text"],
.number-o-guests-g input[type="text"] {
    box-sizing: border-box;
    width: 110px;
    padding-right: 38px;
    padding-left: 38px;
    height: 38px;
    margin-bottom: 30px; 
    color: #000000;
    font: inherit;
}

.date-picker,
.number-of-guests {
    display: flex;
    width: 460px;
    text-align: left; 
    justify-content: space-between;
}

.number-o-guests-b,
.number-o-guests-g {
    display: flex;
}

.date-picker label,
.number-o-guests-g label,
.number-o-guests-b label {
	font-weight: bold;
	font-size: 14px;
    line-height: 26px;
    color: #000000;
    width: 113px;
    padding-top: 5px;
    padding-right: 15px;
}
.number-o-guests-b label {
    padding-left: 45px;
}

.date-picker input,
.number-o-guests-b input,
.number-o-guests-g input {
    background-color: #f6f6f6;
    border: 0px;
    height: 38px;
}

.number-o-guests-g input,
.number-o-guests-b input {
	text-align: center;
}

.date-picker input {
    padding-right: 40px;
    padding-left: 10px;
}

.date-picker input:active {
    background-color: #ffffff;
    border: 2px;
    border-color: #f6f6f6;
    outline: none;
}

.date-picker,
.number-o-guests-b,
.number-o-guests-g {
	position: relative;
}

.date-picker button {
    background-color: transparent;
	background-repeat: no-repeat;
	background-size: 22px 22px;
	background-position: 50%;
	position: absolute;
    top: 0;
    right: 0;
}

.date-picker button svg {
    fill: #cacaca;
}

.date-picker button:hover svg {
    fill: #000000;
    transition: 0.2s; 
}

.date-picker button:active svg {
    fill: #81b3d2;
}

.container-for-buttons {
    display: flex;
    position: relative;
    width: 117px;
    margin-right: 6px;

}

.date-picker button,
.number-o-guests-b button,
.number-o-guests-g button  {
    position: absolute;
	width: 38px;
	height: 38px;
	border: 0;
	background-color: transparent;
}

.minus-g,
.minus-b  {
    position: absolute;
    right: 80px;
    top: 0;
}

.plus-g,
.plus-b {
    position: absolute;
    right: 10px;
    top: 0;
}

/* плюс и минус нарисованные псевдоелементами*/

.minus:after {
content: "";
height: 3px; 
width: 11px;
background: #a9a9a9;
position: absolute; 
right: 12px; 
top: 17px;
}

.plus:after {
content: "";
height: 3px; 
width: 11px;
background: #a9a9a9;
position: absolute; 
right: 12px; 
top: 17px;
}

.plus:before {
content: "";
height: 3px; 
width: 11px;
background: #a9a9a9;
position: absolute; 
right: 12px; 
top: 17px;
transform: rotate(90deg);
}
/*________________________________*/

.number-of-guests {
    display: flex;
    justify-content: space-between;
    min-height: 38px;
    margin-bottom: 25px;
}

.index-submit {
	border: 0px;
    width: 458px;
    height: 58px;
    font-weight: bold;
    font-size: 21px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    background-color: #97c0da;
}

.index-submit:hover {
    background-color: #69a0c1;
}

.index-submit:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #72a9c9;
}

.index-submit:focus {
}

.index-map {
    margin-bottom: -126px;
    vertical-align: bottom;
}

.main-footer {
    color: #000000;
    background-color: rgba(255, 255, 255, 1);
    font-size: 21px;
    line-height: 26px;
    text-align: center;	
}

.footer-index {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9);
}

.main-footer p {
	text-align: center;
    font-weight: bold;
}

.social-list li {
   list-style: none;
}

.social-button {
    position: relative;
    display: block;
    background-color: #81b3d2;
    width: 46px;
    height: 48px;
}

.social-button::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 46px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.tw::before {
    background-image: url(../img/common/t.svg);
}

.fb::before {
    background-image: url(../img/common/fb.svg);
}

.youtube::before {
    background-image: url(../img/common/youtube.svg);
}

.social-button:focus {
}

.social-button:hover {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.social-button:active::before {
    opacity: 0.3;
}

.webstudio {
	font-size: 14px;
    line-height: 26px;
}

/* Hotels */

.container-hotels {
    margin-right: 73px;
    margin-left:  73px
}

a.current {
	color: #766357;
}

.hotels-page li {
	list-style: none;
}

.hotel-name {
	color: rgba(0, 0, 0, 1);
    background-color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.hotel-name:focus {
}

.hotel-name:hover {
	color: #8eb7d1;
}

.hotel-name:active {
	color: rgba(0, 0, 0, 0.3);
}

.more {
	color: rgba(255, 255, 255, 1);
	line-height: 21px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding-top: 3px;
    background-color: #81b3d2;
    min-width: 110px;
}

.more:focus {
}

.more:hover {
	background-color: #669ec0;
}

.more:active {
	color: rgba(255, 255, 255, 0.3);
}

.to-book {
	color: rgba(255, 255, 255, 1);
	line-height: 21px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding-top: 3px;
    background-color: #766357;
    min-width: 142px;
  }

.button {
    display: inline-block;
    height: 27px;
    margin-right: 3px;
    padding-left: 17px;
    padding-right: 17px;
}

.tp-bool:focus {
}

.to-book:hover {
	background-color: #604e43;
}

.to-book:active {
	color: rgba(255, 255, 255, 0.3);
}

.rating {
    height: 92px;
	color: #666666;
	background-color: #f2f2f2;
}

/* сетка */

/*foter*/
.main-footer {
	display: flex;
	height: 120px;
	width: 1200px;
}

.hashtag-sedona {
	width: 400px;
	min-height: 120px;
}

.hashtag-sedona p {
    margin-top: 45px; 
}

.social-list {
    width: 400px;
    min-height: 120px;
    padding: 0;
    margin: 0;
}

.social-list li {
    margin-top: 36px; 
    display: inline-block;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
}

.webstudio {
    display: flex;
	width: 400px;
	min-height: 120px;
    justify-content: center;
}

.webstudio span {
    display: inline-block;
    margin-top: 46px;
    margin-left: auto;
    margin-right: 6px;
}

.webstudio a {   
    margin-top: 39px;
    margin-right: auto;
}

.webstudio a:hover svg {
    fill: #81b3d2;
    transition: 0.4s; 
}

.webstudio a:active svg {
    fill: #bdbbbc;
    
}

/*hotels*/

.up-arrow {
	margin-left: auto;
	margin-right: 10px; /*временный*/
}

.results-hotels {
    display: flex;
    justify-content: space-between;
}

.results-hotels ul {
    margin: 0;
    padding: 0;
}

.result {
	display: flex;
    justify-content: space-between;
    min-height: 150px;
    width: 1056px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.hotel-photo {
    margin-top: auto;
    margin-bottom: auto;
}

.result-content {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: auto;
    height: 92px;
}

.result-content h2,
.result-content p {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 11px;
    padding-right: 5px;
}

.result-content h2{
}

.search-rezult {
	display: flex;
}

.hotel-rating {
    margin-left: auto;
    text-align: right;
    margin-top: 25px;
  }

.class-and-cost {
    display: flex;
    justify-content: space-between;
    height: 12px;
    min-width: 180px;
    padding-bottom: 32px;
    padding-right: 75px;
}

.hotel-rating p {
    min-height: 28px;
    min-width: 111px;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding-top: 4px;
}

.for-stars {
    background-image: url(../img/hotels/star.svg);
	background-repeat: space;
    margin-left: auto;
    height: 17px;
    margin-bottom: 47px;
 }

/* Звездность отеля */
.two-stars {
    width: 41px;
}

.three-stars {
    width: 66px;
}

.four-stars {
    width: 89px;
}

/* _________________ */

.hotel-options-check {
	display: flex;
}


