*,
*::before,
*after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;	
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    line-height: 21px;
    font-size: 14px;
    color: #333333;
    background-color: #ffffff;
}

a {
    text-decoration: none;	
}

li {
	display: inline;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px); 
    clip: rect(1px, 1px, 1px, 1px);
    padding:0;
    border:0;
    height: 1px; 
    width: 1px; 
    overflow: hidden;
}

.container-index {
    text-align: center;	
}

.main-navigation {
	text-align: center;	
	font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}


ul.site-navigation li{
  display: inline;
  margin-right: 73px;
  margin-left: 73px;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover {
    color: #81b3d2;
}

.site-navigation a:focus {
    color: rgba(0, 0, 0, 0.3);
}

.container-index {
	padding-top: 600px; 
    background-color: #ffffff;
    background-image: url("../img/index/backgroundphoto.jpg");
    background-position: top;
    background-repeat: no-repeat;
}

.container-index h1 {
    color: #000000;
    background-color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.reasons {
    font-size: 14px;
    line-height: 26px;
}

.modal-search {
	line-height: 24px;
}

.modal-search span{
    color: #000000;
    background-color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}

button.modal-search{
	border:0px;
	width: 570px;
	height: 86px;
	background-color: #79665a;
	color: rgba(255, 255, 255, 1);
	font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
}

button.modal-search:hover{
	background-color: #604e43;
}

button.modal-search:focus{
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.date-picker label,
.number-o-guests label{
	font-weight: bold;
	font-size: 14px;
    line-height: 26px;
    padding-right: 15px;
}

.date-picker input,
.number-o-guests input {
    background-color: #f6f6f6;
    border: 0px;
    height: 38px;
}

.number-o-guests input{
	width: 38px;
	text-align: center;
	padding-left: 38px;
}

.date-picker input{
    padding-left: 10px;
    padding-right: 38px: 
}

.date-picker input:focus {
    background-color: #ffffff;
    border: 2px;
    border-color: #f6f6f6;
    outline: none;
}

.date-picker div,
.number-o-guests div {
	position: relative;
}

.date-picker button{
	background-image: url(../img/index/calendar.svg);
	background-repeat: no-repeat;
	background-size: 28px 28px;
	background-position: 50%;
	position: absolute;
}

.number-o-guests button{
	position: absolute;
}

.date-picker button,
.number-o-guests button{
	width: 38px;
	height: 38px;
	border: 0;
	background-color: #f6f6f6;
}

.index-submit {
	border: 0px;
    width: 458px;
    height: 58px;
    font-weight: bold;
    font-size: 21px;
    line-height: auto;
    color: rgba(255, 255, 255, 1);
    background-color: #97c0da;
}

.index-submit:hover {
    background-color: #69a0c1;
}
.index-submit:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: #72a9c9;
}

.main-footer {
    color: #000000;
    background-color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;	
}

.main-footer p {
	text-align: left;
	padding-left: 300px;
}

.social-list a{
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #adcddf;
    color: rgba(255, 255, 255, 1);
    width: 38px;
    height: 38px;
}

.social-list a:hover {
   background-color: #8eb7d1;
}

.social-list a:focus {
   background-color: #8eb7d1;
   color: rgba(255, 255, 255, 0.5);
}

.webstudio {
	text-align: right;
	padding-right: 300px;
	font-size: 14px;
    line-height: 26px;
    font-weight: normal;
   }

/* Hotels */

a.hotel-name  {
	color: rgba(0, 0, 0, 1);
    background-color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

a.hotel-name:hover {
	color: #8eb7d1;
}

a.hotel-name:focus {
	color: rgba(0, 0, 0, 0.3);
}

a.more {
	color: rgba(255, 255, 255, 1);
	line-height: 21px;
    font-size: 14px;
    font-weight: bold;
    background-color: #81b3d2;
}

a.more:hover {
	background-color: #669ec0;
}

a.more:focus {
	color: rgba(255, 255, 255, 0.3);
}

a.to-book {
	color: rgba(255, 255, 255, 1);
	line-height: 21px;
    font-size: 14px;
    font-weight: bold;
    background-color: #766357;
}

a.to-book:hover {
	background-color: #604e43;
}

a.to-book:focus {
	color: rgba(255, 255, 255, 0.3);
}

.rating {
	width: 110px;
	height: 27px;
	background-color: #f2f2f2;
	text-align: center;
}