  *, 
  *::before, 
  *::after {
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
  }

  .content-box-component {
    box-sizing: content-box;
  }

body {
    margin: 0;
    padding: 0;	
    font-family: 'PT Sans', 'Arial', sans-serif;
    text-transform: uppercase;
    line-height: 21px;
    font-size: 14px;
    color: #333333;
    background-color: #ffffff;
    list-style: none;
}

a {
    text-decoration: none;	
}

.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px); 
    clip: rect(1px, 1px, 1px, 1px);
    padding:0;
    border:0;
    height: 1px; 
    width: 1px; 
    overflow: hidden;
}

.container-index {
    text-align: center;	
}

.main-navigation {
	text-align: center;	
	font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}


ul.site-navigation li { 
  display: inline;
  margin-right: 70px;
  margin-left: 70px;
  list-style: none;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 0px;
  padding-bottom: 0px; 
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:focus{
}

.site-navigation a:hover {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.container-index {
	padding-top: 600px; 
    background-color: #ffffff;
    background-image: url("../img/index/backgroundphoto.jpg");
    background-position: top;
    background-repeat: no-repeat;
}

.container-index h1 {
    color: #000000;
    background-color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.reasons {
    font-size: 14px;
    line-height: 26px;
}

.reasons li {
	list-style: none;
}

.modal-search {
	line-height: 24px;
}

.modal-search span {
    color: #000000;
    background-color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}

button.modal-search {
	border:0px;
	width: 570px;
	height: 86px;
	background-color: #79665a;
	color: rgba(255, 255, 255, 1);
	font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

button.modal-search:hover {
	background-color: #604e43;
}

button.modal-search:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

button.modal-search:focus {
}

.date-picker label,
.number-o-guests label {
	font-weight: bold;
	font-size: 14px;
    line-height: 26px;
    padding-right: 15px;
    color: #000000;
}

.date-picker input,
.number-o-guests input {
    background-color: #f6f6f6;
    border: 0px;
    height: 38px;
}

.number-o-guests input {
	width: 38px;
	text-align: center;
	padding-left: 38px;
}

.date-picker input {
    padding-left: 10px;
    padding-right: 38px: 
}

.date-picker input:active {
    background-color: #ffffff;
    border: 2px;
    border-color: #f6f6f6;
    outline: none;
}

.date-picker,
.number-o-guests{
	position: relative;
}

.date-picker button {
	background-image: url(../img/index/calendar.svg);
	background-repeat: no-repeat;
	background-size: 28px 28px;
	background-position: 50%;
	position: absolute;
}

.number-o-guests button {
	position: absolute;
}

.date-picker button,
.number-o-guests button {
	width: 38px;
	height: 38px;
	border: 0;
	background-color: #f6f6f6;
}

.index-submit {
	border: 0px;
    width: 458px;
    height: 58px;
    font-weight: bold;
    font-size: 21px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    background-color: #97c0da;
}

.index-submit:hover {
    background-color: #69a0c1;
}

.index-submit:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #72a9c9;
}

.index-submit:focus {
}

.main-footer {
    color: #000000;
    background-color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;	
}

.main-footer p {
	text-align: left;
	padding-left: 300px;
}

.social-list li {
   list-style: none;
}

.social-list a {
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #adcddf;
    color: rgba(255, 255, 255, 1);
    width: 38px;
    height: 38px;
}

.social-list a:focus {
}

.social-list a:hover {
   background-color: #8eb7d1;
}

.social-list a:active {
   background-color: #8eb7d1;
   color: rgba(255, 255, 255, 0.5);
}

.webstudio {
	text-align: right;
	padding-right: 300px;
	font-size: 14px;
    line-height: 26px;
    font-weight: normal;
}

/* Hotels */

a.current {
	color: #766357;
}

.hotels-page li {
	list-style: none;
}

.hotel-name {
	color: rgba(0, 0, 0, 1);
    background-color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.hotel-name:focus {
}

.hotel-name:hover {
	color: #8eb7d1;
}

.hotel-name:active {
	color: rgba(0, 0, 0, 0.3);
}

.more {
	color: rgba(255, 255, 255, 1);
	line-height: 21px;
    font-size: 14px;
    font-weight: bold;
    background-color: #81b3d2;
}

.more:focus {
}

.more:hover {
	background-color: #669ec0;
}

.more:active {
	color: rgba(255, 255, 255, 0.3);
}

.to-book {
	color: rgba(255, 255, 255, 1);
	line-height: 21px;
    font-size: 14px;
    font-weight: bold;
    background-color: #766357;
}

.tp-bool:focus {
}

.to-book:hover {
	background-color: #604e43;
}

.to-book:active {
	color: rgba(255, 255, 255, 0.3);
}

.rating {
	width: 110px;
	height: 27px;
	color: #666666;
	background-color: #f2f2f2;
	text-align: center;
}

/* сетка */

/*header*/

html,
body {
  min-width: 1122px;
  min-height: 1750px;
}


.main-header {
	outline: 5px solid green;
	min-height: 72px;
}

.main-header-logo {
	width: 142px;
	height: 72px;
	margin: 0;
	order: 2;
}

.main-navigation {
	background-color: transparent;
	min-height: 56px;
	padding: 0px;
	margin: 0px;
	display: flex;
	align-items: center;
}

.site-navigation {
	padding: 0px;
	margin: 0px;
	list-style: none;
	height: 56px;
	min-width: 1200px;
}

ul.site-navigation li:nth-child(1), 
ul.site-navigation li:nth-child(2) {
	text-align: : flex-start;
}

ul.site-navigation li:nth-child(3), 
ul.site-navigation li:nth-child(4) {
	text-align: : flex-end;
	margin-right: auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    outline: 5px solid cyan;
    display: flex;
    justify-content: space-between;
}


/*main*/
.container-index {
	outline: 5px solid yellow;
}

/*foter*/
.main-footer  {
	outline: 5px solid red;
	height: 120px;
	width: 1200px;
	padding: 20px;
}

.hashtag-sedona {
	width: 400px;
	height: 120px;
	margin: 0px;
}

.footer-social {
	width: 400px;
	height: 120px;
	margin: 0px;
}

.webstudio {
	width: 400px;
	height: 120px;
	margin: 0px
}


/*hotels*/


.results-hotels {
	width: 1200;
	display: flex;
	outline: 2px solid pink;
	flex-direction: column;
}


.result {
	width: 900px;
	display: flex;
	flex-direction: row;
	padding: 0px;
	margin: 0px;
	list-style: none;
	outline: 2px dashed gray;
}